Write a Python program to print numbers from 1 to 10 using a for loop using function.

In [ ]:
def print_num():

    for i  in range(1,11):
        print(i)

print_num()

1
2
3
4
5
6
7
8
9
10

Write a Python program to calculate the sum of all numbers from 1 to 100 using a for loop.

In [ ]:
def sum_all(num):

    result = 0

    for i in range(1,num+1):
        result = result + i
    print("sum = ",result)

sum_all(100)

sum =  5050

How do you iterate through a list using a for loop in Python?

In [ ]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
  print(fruit)

apple
banana
cherry

Write a Python program to find the product of all elements in a list using a for loop.

In [ ]:
def product_all(list):

    result = 1

    for i in range(len(list)):
        result = result * list[i]
    print("product = ",result)

product_all([1,2,3,4,5,6,7,8,9,10])

product =  3628800

Create a Python program that prints all even numbers from 1 to 20 using a for loop.

In [ ]:
def print_even(num):

    for i in range(1,num+1):

        if i%2==0:
            print(i)

print_even(20)

2
4
6
8
10
12
14
16
18
20

Write a Python program that calculates the factorial of a number using a for loop.

In [ ]:
def factorial(num):

    fact = 1

    for i in range(1,num+1):

        fact= fact*i
    return fact

factorial(5)

120

Write a Python program to find the largest number in a list using a for loop.

In [ ]:
def find_largest_num():

    lst= [12,43,53,23,55,67,343,777]

    max_num = lst[0]

    for i in lst:
        if i > max_num:
            max_num = i
    print("Largest number is ",max_num)


find_largest_num()

Largest number is  777

Create a Python program that prints the Fibonacci sequence up to a specified limit using a for loop.

In [ ]:
def fibonacci(limit):
  a, b = 0, 1
  while a < limit:
    print(a)
    a, b = b, a + b

fibonacci(10)

0
1
1
2
3
5
8


Write a Python program to count the number of vowels in a given string using a for loop.

In [ ]:
def count_vowels():

    vowels = ["a","e","i","o","u"]
    count = 0
    str= "hii my name is pratap"

    for i in str:
        if i in vowels:
            count = count+1
    print(count)

count_vowels()

7

Create a Python program that generates a multiplication table for a given number using a for loop.

In [ ]:
def generate_table(num):

    table = 0

    for i in range(1,11,1):

        table = i * num
        print(table)

generate_table(7)

7
14
21
28
35
42
49
56
63
70

Write a Python program to reverse a list using a for loop.

In [ ]:
def reverse_list():

    lst = [1,2,3,4,5,6,7]

    reverse_lst =[]

    for i in range(len(lst)-1,-1,-1):

        reverse_lst.append(lst[i])
    return reverse_lst

reverse_list()

6
5
4
3
2
1
0

[7, 6, 5, 4, 3, 2, 1]

Write a Python program to find the common elements between two lists using a for loop.

In [ ]:
def find_common():

    lst1 = [1,2,3,4,5,6,7]
    lst2 = [9,8,99,33,2,3,4,7]

    common = []

    for i in lst1:
        if i in lst2:
            common.append(i)
    return common

find_common()

[2, 3, 4, 7]

Create a Python program that checks if a string is a palindrome using a for loop.

In [ ]:
def is_palindrome(string):

    length = len(string)

    for i in range(0,length//2):

        if string[i] != string[length-i-1]:

            return False

    return True

print(is_palindrome("racecar"))

True

Write a Python program to remove duplicates from a list using a for loop.

In [ ]:
def remove_dupl():

    lst =[1,2,3,4,5,1,2,7]
    lst1 = []

    for i in lst:
        if i not in lst1:
            lst1.append(i)
    return lst1

remove_dupl()

[1, 2, 3, 4, 5, 7]

Create a Python program that counts the number of words in a sentence using a for loop.

In [ ]:
sentence = "This is a sentence."
count = 0
for word in sentence.split():
  count += 1
print(count)

4

Write a Python program to find the sum of all odd numbers from 1 to 50 using a for loop.

In [ ]:
def sum_odd():

    sum = 0

    for i in range(1,51,2):

        sum = sum + i
    return sum

sum_odd()

625

Write a Python program that checks if a given year is a leap year using a for loop.

In [ ]:
def is_leap_year(year):

    if year % 100 == 0:
        return year % 400 == 0
    else:
        return year % 4 == 0

print(is_leap_year(2020))

True

Create a Python program that calculates the square root of a number using a for loop.

In [ ]:
import math

def sqrt(n):
  # Iterate over all possible integer values of x
  for x in range(1, int(math.sqrt(n)) + 1):
    # Check if x^2 is equal to n
    if x ** 2 == n:
      return x

  # If no such x exists, return -1
  return -1

print(sqrt(16))

4

Write a Python program to find the LCM (Least Common Multiple) of two numbers using a for loop.

In [ ]:
def lcm(a, b):

    lcm = 0

    m, n = min(a, b), max(a, b)
    for i in range(m, n + 1):
        if m % i == 0 and n % i == 0:
            lcm = i
            break

    return lcm

print(lcm(12, 18))

0

Write a Python program to check if a number is positive, negative, or zero using an if-else statement.

In [ ]:
def check_num(num):

    if num > 0:
        print("number is positive")
    elif num < 0:
        print("number is negative")
    else:
        print("number is zero")

check_num(4)
check_num(-3)
check_num(0)

number is positive
number is negative
number is zero

Create a Python program that checks if a given number is even or odd using an if-else statement.

In [ ]:
def check_odd_even(num):

    if num % 2 == 0:
        print("Number is even")
    else:
        print("Number is odd")

check_odd_even(16)
check_odd_even(3)

Number is even
Number is odd

Write a Python program to determine the largest of three numbers using if-else.

In [ ]:
def check_large_three(a,b,c):

    if a > b and a > c:
        print(f"{a} is greater than {b} and {c}")
    elif b > a and b > c:
        print(f"{b} is greater than {a} and {c}")
    else:
        print(f"{c} is greater than {a} and {b}")

check_large_three(10,20,30)

30 is greater than 10 and 20

Write a Python program that calculates the absolute value of a number using if-else.

In [ ]:
def abs(num):
    if num < 0:
        return -num
    else:
        return num


print(abs(-5))
print(abs(5))

5
5

Create a Python program that checks if a given character is a vowel or consonant using if-else.

In [ ]:
def check_vowel_consonant(char):

    vowels = ["a","e","i","o","u"]

    if char in vowels:
        print("character is vowels")
    else:
        print("character is consonant")

check_vowel_consonant("a")

character is vowels

Write a Python program to determine if a user is eligible to vote based on their age using if-else.

In [ ]:
def check_eligible_to_vote(age):

    if age > 18 :
        print("You are eligible for vote")
    else:
        print("You are not eligible for vote")

check_eligible_to_vote(17)
check_eligible_to_vote(19)

You are not eligible for vote
You are eligible for vote

Create a Python program that calculates the discount amount based on the purchase amount using if-else.

In [ ]:
def calculate_discount(amount):

    if amount >= 5000:
        discount = amount * 0.25
    elif amount >= 2000:
        discount = amount * 0.15
    elif amount >= 1000:
        discount = amount * 0.10
    else:
        discount = 0

    return discount

print(calculate_discount(5000))
print(calculate_discount(2000))
print(calculate_discount(1000))
print(calculate_discount(500))

1250.0
300.0
100.0
0

Write a Python program to check if a number is within a specified range using if-else.

In [ ]:
def check_range(num, min_range, max_range):

    if num >= min_range and num <= max_range:
        print("Number is in range")
    else:
        print("Number is not in range")

check_range(10, 5, 15)
check_range(20, 5, 15)

Number is in range
Number is not in range

Create a Python program that determines the grade of a student based on their score using if-else.

In [ ]:
def cal_grade(score):

    if score > 85 :
        print("A Grade")
    elif score > 65:
        print("B Grade")
    elif score > 35:
        print("C Grade")
    else:
        print("Fail")

cal_grade(78)
cal_grade(87)
cal_grade(32)

B Grade
A Grade
Fail

Write a Python program to check if a string is empty or not using if-else.

In [ ]:
string = "Hello World!"
if string:
  print("String is not empty")
else:
  print("String is empty")

String is not empty

Create a Python program that identifies the type of a triangle (e.g., equilateral, isosceles, or scalene) based on input values using if-else.

In [ ]:
a = int(input("Enter the length of side a: "))
b = int(input("Enter the length of side b: "))
c = int(input("Enter the length of side c: "))

if a == b == c:
    print("Triangle is equilateral.")
elif a == b or b == c or a == c:
    print("Triangle is isosceles.")
else:
    print("Triangle is scalene.")

Enter the length of side a: 20
Enter the length of side b: 20
Enter the length of side c: 20
Triangle is equilateral.

Write a Python program to determine the day of the week based on a user-provided number using if-else.

In [ ]:
def week_day(num):

    if num > 7 :
        print("Please enter valid number.")
    if num == 1:
        print("Monday")
    elif num ==2:
        print("Tuesday")
    elif num == 3:
        print("Wednesday")
    elif num == 4:
        print("Thursday")
    elif num == 5:
        print("Friday")
    elif num == 6:
        print("Saturday")
    elif num ==7:
        print("Sunday")

week_day(8)
week_day(7)

Please enter valid number.
Sunday

Create a Python program that checks if a given year is a leap year using both if-else and a function.

In [ ]:
def is_leap_year(year):

    if year % 100 == 0:
        return year % 400 == 0
    else:
        return year % 4 == 0

print(is_leap_year(2020))

True

Create a Python program that determines the eligibility of a person for a senior citizen discount based on age using if-else.

In [ ]:
age = int(input("Enter your age: "))
if age >= 60:
  print("You are eligible for a senior citizen discount.")
else:
  print("You are not eligible for a senior citizen discount.")

Enter your age: 68
You are eligible for a senior citizen discount.

Write a Python program to categorize a given character as uppercase, lowercase, or neither using if-else.

In [ ]:
def categorize_character(char):
    if char.isupper():
        print("Uppercase")
    elif char.islower():
        print("Lowercase")
    else:
        print("Neither")

categorize_character("A")
categorize_character("a")
categorize_character("1")

Uppercase
Lowercase
Neither

Write a Python program to determine the roots of a quadratic equation using if-else.

In [ ]:
a = int(input("Enter the value of a: "))
b = int(input("Enter the value of b: "))
c = int(input("Enter the value of c: "))

if a == 0:
    print("The equation is not a quadratic equation.")
else:
    d = (b ** 2 - 4 * a * c) ** 0.5
    x1 = (-b + d) / (2 * a)
    x2 = (-b - d) / (2 * a)
    print("The roots of the equation are x1 = {0} and x2 = {1}.".format(x1, x2))

Enter the value of a: 20
Enter the value of b: 30
Enter the value of c: 40
The roots of the equation are x1 = (-0.7499999999999999+1.1989578808281798j) and x2 = (-0.7500000000000001-1.1989578808281798j).

Create a Python program that checks if a given year is a century year or not using if-else.

In [ ]:
year = int(input("Enter a year: "))
if year % 100 == 0:
  print(f"{year} is a century year.")
else:
  print(f"{year} is not a century year.")

Enter a year: 1900
1900 is a century year.

Write a Python program to determine if a given number is a perfect square using if-else.

In [ ]:
import math
def is_perfect_square(n):
    if n < 0:
        return False
    if n == 0:
        return True
    if n == 1:
        return True
    if n % 2 == 0:
        return False
    for i in range(3, int(math.sqrt(n)) + 1, 2):
        if n % i == 0:
            return False
    return True

is_perfect_square(5)

True

Create a Python program that calculates the BMI (Body Mass Index) of a person based on their weight and height using if-else.

In [ ]:
weight = float(input("Enter your weight in kilograms: "))

height = float(input("Enter your height in meters: "))

# Calculate the user's BMI
bmi = weight / height ** 2

print(f"Your BMI is {bmi:.2f}.")

if bmi < 18.5:
  print("You are underweight.")
elif bmi >= 18.5 and bmi < 24.9:
  print("You are healthy weight.")
elif bmi >= 24.9 and bmi < 29.9:
  print("You are overweight.")
elif bmi >= 29.9:
  print("You are obese.")

Enter your weight in kilograms: 55
Enter your height in meters: 1.25
Your BMI is 35.20.
You are obese.

Write a Python program to determine if a given number is prime or not using if-else.

In [ ]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

is_prime(11)

False

Write a Python program that uses the `map()` function to square each element of a list of numbers.

In [3]:
lst = [1,2,3,4,5,6]

list(map(lambda a: a*2 ,lst))

[2, 4, 6, 8, 10, 12]

Create a Python program that uses the `map()` function to convert a list of names to uppercase.

In [8]:
names = ["John","Mary", "Peter", "Susan"]

list(map(lambda name: name.upper(), names))

['JOHN', 'MARY', 'PETER', 'SUSAN']

Write a Python program that uses the `map()` function to calculate the length of each word in a list of strings.

In [13]:
words = ["Hello", "World", "This", "is", "a", "list", "of", "words"]

list(map(len, words))

[5, 5, 4, 2, 1, 4, 2, 5]

Create a Python program that uses `map()` to convert a list of temperatures from Celsius to Fahrenheit.

In [14]:
temperatures = [32, 68, 104, 140, 176]

list(map(lambda temp: (temp * 1.8) + 32, temperatures))

[89.6, 154.4, 219.20000000000002, 284.0, 348.8]

Write a Python program that uses the `map()` function to round each element of a list of floating-point numbers to the nearest integer.

In [15]:
numbers = [1.2, 3.4, 5.6, 7.8, 9.0]

list(map(lambda num: round(num), numbers))

[1, 3, 6, 8, 9]

Write a Python program that uses the `reduce()` function to find the product of all elements in a list.

In [17]:
from functools import reduce
numbers = [1, 2, 3, 4, 5]
product = reduce(lambda a, b: a * b, numbers)
print(product)

120

Create a Python program that uses `reduce()` to find the maximum element in a list of numbers.

In [20]:
lst = [1,2,3,4,5,6,7]

maxi = reduce(lambda a,b : max(a,b), lst)

print(maxi)

7

Write a Python program that calculates the factorial of a number using the `reduce()` function.

In [23]:
def factorial(n):
    return reduce(lambda a, b: a * b, range(1, n + 1))


print(factorial(5))

120

Create a Python program that uses `reduce()` to find the GCD (Greatest Common Divisor) of a list of numbers.

In [27]:
from functools import reduce
def gcd(a, b):
  while b:
    a, b = b, a % b
  return a

def gcd_list(nums):
  return reduce(gcd, nums)

nums = [12, 18, 36]
print(gcd_list(nums))

6

Write a Python program that uses the `reduce()` function to find the sum of the digits of a given number.

In [28]:
def sum_digits(n):
  return reduce(lambda a, b: a + b, map(int, str(n)))

print(sum_digits(12345))

15

Write a Python program that uses the `filter()` function to select even numbers from a list of integers.

In [29]:
lst = [1,2,3,4,5,6,7,8,9,10]
even_numbers = list(filter(lambda x: x % 2 == 0, lst))
print(even_numbers)

[2, 4, 6, 8, 10]

Create a Python program that uses the `filter()` function to select names that start with a specific letter from a list of strings.

In [30]:
names = ['John', 'Mary', 'Peter', 'Susan', 'Alice', 'Bob', 'Carol', 'Dave']
filtered_names = list(filter(lambda name: name.startswith('A'), names))
print(filtered_names)

['Alice']

Write a Python program that uses the `filter()` function to select prime numbers from a list of integers.

In [31]:
def is_prime(num):
  if num <= 1:
    return False
  for i in range(2, int(num ** 0.5) + 1):
    if num % i == 0:
      return False
  return True

nums = [1,2,3,4,5,6,7,8,9,10]
prime_numbers = list(filter(is_prime, nums))
print(prime_numbers)

[2, 3, 5, 7]

Create a Python program that uses `filter()` to select words longer than a certain length from a list of strings.

In [32]:
words = ['apple', 'banana', 'cherry', 'durian', 'elderberry', 'fig']
long_words = list(filter(lambda word: len(word) > 5, words))
print(long_words)

['banana', 'cherry', 'durian', 'elderberry']

Write a Python program that uses the `filter()` function to select elements greater than a specified threshold from a list of values.

In [33]:
numbers = [1,2,3,4,5,6,7,8,9,10]
threshold = 5
filtered_numbers = list(filter(lambda x: x > threshold, numbers))
print(filtered_numbers)

[6, 7, 8, 9, 10]